.customNode {
  background-color: #3c91e6;
  /* border: 1px solid #fff; */
  border-radius: 100%;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.5rem;
  font-size: 15px;
  margin: 3px 3px 3px;
  color: #fff;
  text-align: center;
  flex-direction: column;
  font-weight: 400;
}

.node-container {
  padding: 0.12rem;
  /* height: 3.5rem; */
  /* width: 3.5rem; */
  background-color: #342e37;
  border-radius: 100%;
}

.customJohnsonNode {
  position: relative;
  background-color: #3c91e6;
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  margin: 3px 3px 3px;
  color: #fff;
  text-align: center;
  font-size: 10px;
  font-weight: 400;
}

.customCentroidNode {
  position: relative;
  background-color: salmon;
  border-radius: 100%;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.5rem;
  font-size: 15px;
  margin: 3px 3px 3px;
  color: #fff;
  text-align: center;
  flex-direction: column;
  font-weight: 400;
}

.customDijkstraNode {
  position: relative;
  background-color: #3c91e6;
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  margin: 3px 3px 3px;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

hr {
  border: 0;
  height: 0;
  margin: 0;
  border: 0.5px solid #fff;
}
